.landing{
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    padding-top: 30%;
    font-family: 'Gabriela', serif;
}
.container-c{
    position: static;
    
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: block;
}
.landing h1{
    padding: 8px;
    margin: 8px;
}
.landing p{
    padding: 6px;
}

#logo{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 13%;
    height: 13%;
}
#mouse-click{
    padding-top: 28px;
    margin-top: 15%;
    padding-bottom: 10px;

}
#mouse-click{
    animation:infinite;
}
.What-about-us{
    text-emphasis: center;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;

}
#ABOUT-US{
    font-family: fantasy;
    text-align: center;
}
.Services{
    text-emphasis: center;
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg');
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 18px;
}
.Services h2{
    font-family: sans-serif;
}
#services_rendered{
    background-color: rgba(red);
    padding-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#portfolio{
    display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin-left: 18%;
      margin-right: 16%;  
      margin-right: 16%;
      margin-left: 8%;
  }

.PORTFOLIO h2{
    text-align: center;
    padding-top: 40%;
    font-family: 'Times New Roman', Times, serif;
}
.contact{
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.label{
    padding: 6px;
}
.contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
input[type=text], input[type=email], #comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.form-control::-webkit-input-placeholder{
    color: white;
}
#merge1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
}
#comment{
    margin-left: 20px;
    width: 60%;
}
button{
    margin-left: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
}
footer p{
    margin-top: 10px;

}
#DEVELOPMENT{
    display: none;
    font-family: sans-serif;
    font-size: 16px;
}
#products{
    display: none;
    font-family: sans-serif;
    font-size: 16px  
}
#DESIGN{
    display: none;
    font-family: sans-serif;
    font-size: 16px
    
}

.label2{
    font-size: 20px;
    font-weight: 600;
}
.label{
    font-size: 20px;
    font-weight: 600;
}
.label3{
    font-size: 20px;
    font-weight: 600;
}
#switch_board{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}

#switch_board2{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}

#switch_board3{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}

#switch_board4{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}

#switch_board5{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}
#switch_board6{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}
#switch_board7{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}
#switch_board8{
    display: none;
    color: black;
    top: 20px;
    left: 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    font-weight: bold;

}
.col-md-3 img{
    width: 100%;
    margin: 20px;
}

