.landing{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    padding-top: 17%;
    font-family: 'Gabriela', serif;
}
.landing h1{
    padding: 2px;
    margin: 5px;
}
.landing p{
    padding: 2px;
}

#logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70%;
    height: 70%;
}

